<title>ABI Application Portal</title>
<div class="headings">
  <br>
  <img src="../assets/ABI_logo_final-01.png" height="50px" width="165px" class="abi-logo"/>
  <br>
  <h1 class="welcome">Welcome to the ABI Application Portal</h1>
  <div class="description">
    <p class="description-text">Here you can view all current and archived job listings at ABI, get familiar with the prerequisites and responsibilities, and apply to your jobs of choice by filling out the integrated application form.</p>
  </div>
</div>
<br>
<div class="cards-container" id="row-1">
  <div class="ind-card-container"  *ngFor="let listing of openPositions | reversePipe; index as i">
    <mat-card class="listing-card" *ngIf="listing.w_Visible && i<4" [ngClass]="{'no-margin': listing.w_Visible == true}">
      <img mat-card-image src="{{listing.w_Image}}" width="282px" height="188px">
      <div class="card-header">
        <mat-card-header>
          <mat-card-title>{{listing.jobTitle}}</mat-card-title>
          <mat-card-subtitle>{{listing.listingTitle}}</mat-card-subtitle>
        </mat-card-header>
      </div>
    <mat-card-content class="card-content">
      <div class="additional-info">
        <p><b>Application Status: </b>{{openPositions[i].wStatus.toUpperCase()}}</p>
        <p><b>Application Deadline: </b>{{openPositions[i].appDeadline}}</p>
      </div>
        <div class="action-buttons">
          <button mat-raised-button class="learn-more-button" (click)="openDialog(i)" [disabled]="openPositions[i].wStatus=='closed' || openPositions[i].wStatus=='not yet open'">LEARN MORE</button>
        </div>
    </mat-card-content>
  </mat-card>
  </div>
</div>
<div class="cards-container">
  <div class="ind-card-container">
    <mat-card class="listing-card">
      <img mat-card-image src="{{openPositions[4].w_Image}}" width="282px" height="188px">
      <div class="card-header">
        <mat-card-header>
          <mat-card-title>{{openPositions[4].jobTitle}}</mat-card-title>
          <mat-card-subtitle>{{openPositions[4].listingTitle}}</mat-card-subtitle>
        </mat-card-header>
      </div>
      <mat-card-content class="card-content">
        <div class="additional-info">
          <p><b>Application Status: </b>{{openPositions[4].wStatus.toUpperCase()}}</p>
          <p><b>Application Deadline: </b>{{openPositions[4].appDeadline}}</p>
        </div>
        <div class="action-buttons">
          <button mat-raised-button class="learn-more-button" (click)="openDialog(4)" >LEARN MORE</button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>

